<body class="background">
  <div class="container">
    <div class="banner">
      <h1>Manhattan Listings</h1>
      <h2>The easy way to find your dream rental in Manhattan</h2>
    </div>

    <%= render 'filter' %>
    
    <div class="footer">
      <p>A project by Dylan Wolff<br>
      <a href="http://twitter.com/dgwolff" target="_blank">@dgwolff</a><p>
    </div>

  </div>

</body>
