<div class="cover">  
  <div class="container">
    <div class="banner">
      <h1>Manhattan Listings</h1>
      <h2>The easy way to find your dream rental in Manhattan</h2>
    </div>

    <%= render 'filter' %>
  </div>
</div>